<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-10 pt-5">
        <h2 class="titulo">Editar perfil</h2>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-1">
                <label for="nome" class="form-label"><strong>Nome</strong></label>
              </div>
              <div class="mb-3">
                <label for="sobrenome" class="form-label"><strong>Sobrenome</strong></label>
              </div>
              <div class="mb-3">
                <label for="telefone" class="form-label"><strong>Telefone</strong></label>
                <input id="telefone" type="tel" class="form-control" placeholder="(XX) XXXXX-XXXX" />
              </div>
              <div class="mb-3">
                <label for="foto" class="form-label"><strong>Foto</strong></label>
                <div class="border bg-light d-flex align-items-center justify-content-center" style="height: 150px;">
                  Foto
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="endereco" class="form-label"><strong>Endereço Atual:</strong></label>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cep" class="form-label"><strong>CEP</strong></label>
                  <input id="cep" type="text" class="form-control" placeholder="XXXXX-XXX" />
                </div>

                <div class="col-md-6 mb-3">
                  <label for="rua" class="form-label"><strong>Rua</strong></label>
                  <input id="rua" type="text" class="form-control" placeholder="Nome da rua" />
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="numero" class="form-label"><strong>Número</strong></label>
                  <input id="numero" type="text" class="form-control" placeholder="Número da residência" />
                </div>

                <div class="col-md-6 mb-3">
                  <label for="bairro" class="form-label"><strong>Bairro</strong></label>
                  <input id="bairro" type="text" class="form-control" placeholder="Nome do bairro" />
                </div>
              </div>

              <div class="mb-3">
                <label for="estado" class="form-label"><strong>Estado</strong></label>
                <input id="estado" type="text" class="form-control" placeholder="Estado" />
              </div>
  </div>
</div>



