@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css");

@media (min-width: 768px) {
  .action-buttons .btn {
    margin-bottom: 0 !important;
  }
}

* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth !important;
}

body {
  background-color: #f9f9f9;
}

.header {
  background-color: #c2dff0 !important;
  padding: 15px !important;
}

.header h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  color: #333 !important;
}

.back {
  text-decoration: none !important;
  margin-bottom: 1em !important;
}

.card {
  border-radius: 10px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.card-header {
  background-color: #eaeaea !important;
  border-bottom: 2px solid #cccccc !important;
  font-weight: bold !important;
  color: #333 !important;
}

.table {
  max-width: 100% !important;
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #555;
}
.table td,
.table th {
  vertical-align: middle;
  padding: auto;
}
.img-fluid {
  border-radius: 10px !important;
}

.main-content {
  transition: margin-left 0.3s ease !important;
  margin-left: 63px;
  padding: 20px !important;
}

.main-content.shifted {
  margin-left: 250px !important;
}

.action-buttons {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 5px !important;
}

.action-buttons .btn {
  flex: 1 !important;
  margin-bottom: 5px !important;
}

.d-grid button {
  border-radius: 30px !important;
}

.btn-primary {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  color: #ffffff !important;
}

.btn-primary:hover {
  background-color: #483ef7 !important;
  border-color: #483ef7 !important;
  color: #ffffff !important;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #483ef7 !important;
  border-color: #483ef7 !important;
  color: #ffffff !important;
  box-shadow: 0 0 0 0.25rem rgba(108, 99, 255, 0.5) !important;
}

.btn-primary:disabled,
.btn-primary.disabled {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  opacity: 0.65 !important;
}

.btn-secondary {
  border: 1px solid #0d6efd !important;
  color: #0d6efd !important;
  background-color: transparent !important;
  border-color: #0d6efd !important;
}

.btn-secondary:hover {
  color: #ffffff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.btn-secondary:active,
.btn-secondary:focus {
  color: #ffffff !important;
  background-color: #483ef7 !important;
  border-color: #483ef7 !important;
  box-shadow: 0 0 0 0.25rem rgba(108, 99, 255, 0.5) !important;
}

.btn-secondary:disabled,
.btn-secondary.disabled {
  color: #0d6efd !important;
  opacity: 0.65 !important;
  background-color: transparent !important;
}

.btn-outline-primary {
  color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.btn-outline-primary:active,
.btn-outline-primary:focus {
  color: #ffffff !important;
  background-color: #483ef7 !important;
  border-color: #483ef7 !important;
  box-shadow: 0 0 0 0.25rem rgba(108, 99, 255, 0.5) !important;
}