<div class="container my-5">
  <h1 class="text-center mb-4">Bem-vindo ao Painel do Paciente</h1>
  <div class="row justify-content-center">
    <div class="col-6 col-md-3">
      <div class="action-card" routerLink="/paciente/visualizar-perfil">
        <i class="fas fa-user-circle"></i>
        <p>Visualizar Perfil</p>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="action-card" routerLink="/paciente/historico-testes">
        <i class="fas fa-history"></i>
        <p>Histórico de Testes</p>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="action-card" routerLink="/paciente/paciente-layout">
        <i class="fas fa-layer-group"></i>
        <p>Paciente Layout</p>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="action-card" routerLink="/formularios/preencher">
        <i class="fas fa-file-alt"></i>
        <p>Preencher Formulário</p>
      </div>
    </div>
  </div>
</div>
