@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');

@media (min-width: 768px) {
  .action-buttons .btn {
     margin-bottom: 0 !important;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth !important;
}

body {
  background-color: #F9F9F9;
}

.header {
  background-color: #C2DFF0 !important;
  padding: 15px !important;
}

.header h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  color: #333 !important;
}

.back {
  text-decoration: none !important;
  margin-bottom: 1em !important;
}

.card {
  border-radius: 10px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.card-header {
  background-color: #EAEAEA !important;
  border-bottom: 2px solid #CCCCCC !important;
  font-weight: bold !important;
  color: #333 !important;
}

.table {
  max-width: 100% !important;
}

.table th {
  background-color: #F5F5F5;
  font-weight: bold;
  color: #555;
}
.table td, .table th {
  vertical-align: middle;
  padding: auto;
}
.img-fluid {
  border-radius: 10px !important;
}

.main-content {
  transition: margin-left 0.3s ease !important;
  padding: 20px !important;
  padding-top: 60px !important;
}

.main-content.shifted {
  margin-left: 250px !important;
}

.action-buttons {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 5px !important;
}

.action-buttons .btn {
  flex: 1 !important;
  margin-bottom: 5px !important;
}

.d-grid button {
  border-radius: 30px !important;
}

.btn-primary {
  background-color: #4A90E2 !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: #357ABD !important;
}

.btn-secondary {
  background-color: #7B8B9A !important;
  border: none !important;
}

.btn-secondary:hover {
  background-color: #5D6A74 !important;
}