
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 240px;
  background-color: #8e66ec;
  transition: width 0.3s;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.navbar.open {
  width: 80px;
}

.navbar-brand {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100px;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #e46ac5;
}

.nav-link i {
  font-size: 20px;
  margin-right: 15px;
}

.nav-text {
  display: inline;
  transition: opacity 0.3s;
}

.navbar.open .nav-text {
  display: none;
}

.navbar-toggler {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.navbar-toggler:focus {
  outline: none;
}

.main-content {
  margin-left: 240px;
  transition: margin-left 0.3s;
}

.navbar.open + .main-content {
  margin-left: 80px;
}
