.form-check-input {
    width: 20px;
    height: 20px;
  }

  .form-check-label {
    font-size: 16px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  h5 {
    font-weight: bold;
    color: #4e4e4e;
  }

  .border {
    border-color: #d2e9f7 !important;
    background-color: #f7f7f7;
  }

  button.btn-primary {
    background-color: #d2e9f7 !important;
    color: #333 !important;
  }